include:
    # Metadata shared my many jobs
    - local: .gitlab/rules.yml
    - local: .gitlab/artifacts.yml

    # OS builds.
    - local: .gitlab/os-linux.yml
    - local: .gitlab/os-windows.yml

    # Post-build steps
    - local: .gitlab/upload.yml

stages:
    - build
    - test
    - upload

################################################################################
# Job declarations
#
# Each job must pull in each of the following keys:
#
#   - a "base image"
#   - a build script
#   - tags for the jobs
#     - already provided for upload and CI update jobs
#   - rules for when to run the job
#
# Additionally, jobs may also contain:
#
#   - artifacts
#   - dependency/needs jobs for required jobs
################################################################################

# Linux

## Normal build

build:linux-plain:
    extends:
        - .centos7_plain
        - .cmake_build_linux
        - .cmake_build_artifacts
        - .linux_builder_tags
        - .run_manually

test:linux-plain:
    extends:
        - .fedora31_plain
        - .cmake_test_linux
        - .cmake_package_artifacts
        - .linux_test_tags
        - .run_automatically
    dependencies:
        - build:linux-plain
    needs:
        - build:linux-plain

upload:linux-plain:
    extends:
        - .rsync_upload
        - .upload_only
    dependencies:
        - test:linux-plain
    needs:
        - test:linux-plain
    variables:
        RSYNC_DESTINATION: paraview_nightly_bin

## EGL build

build:linux-egl:
    extends:
        - .centos7_egl
        - .cmake_build_linux
        - .cmake_build_artifacts
        - .linux_builder_tags
        - .run_manually

test:linux-egl:
    extends:
        # Required to get EGL support in the container.
        - .fedora31_egl
        - .cmake_test_linux
        - .cmake_package_artifacts
        - .linux_test_tags
        - .run_automatically
    dependencies:
        - build:linux-egl
    needs:
        - build:linux-egl

upload:linux-egl:
    extends:
        - .rsync_upload
        - .upload_only
    dependencies:
        - test:linux-egl
    needs:
        - test:linux-egl
    variables:
        RSYNC_DESTINATION: paraview_nightly_bin

## OSMesa shared build

build:linux-osmesa-shared:
    extends:
        - .centos7_osmesa_shared
        - .cmake_build_linux
        - .cmake_build_artifacts
        - .linux_builder_tags
        - .run_manually

test:linux-osmesa-shared:
    extends:
        - .centos7_osmesa_shared
        - .cmake_test_linux
        - .cmake_package_artifacts
        - .linux_test_tags
        - .run_automatically
    dependencies:
        - build:linux-osmesa-shared
    needs:
        - build:linux-osmesa-shared

upload:linux-osmesa-shared:
    extends:
        - .rsync_upload
        - .upload_only
    dependencies:
        - test:linux-osmesa-shared
    needs:
        - test:linux-osmesa-shared
    variables:
        RSYNC_DESTINATION: paraview_nightly_bin

## OSMesa static build
#
# This builds ParaView statically while keeping the other dependencies as
# shared.

build:linux-osmesa-static:
    extends:
        - .centos7_osmesa_static
        - .cmake_build_linux
        - .cmake_build_artifacts
        - .linux_builder_tags
        - .run_manually

test:linux-osmesa-static:
    extends:
        - .centos7_osmesa_static
        - .cmake_test_linux
        - .cmake_package_artifacts
        - .linux_test_tags
        - .run_automatically
    dependencies:
        - build:linux-osmesa-static
    needs:
        - build:linux-osmesa-static

# Windows

## MPI build

build:windows-vs2019-mpi:
    extends:
        - .windows_vs2019_mpi
        - .cmake_build_windows
        - .cmake_build_artifacts
        - .windows_builder_tags
        - .run_manually
    timeout: 2 hours

test:windows-vs2019-mpi:
    extends:
        - .windows_vs2019_mpi
        - .cmake_test_windows
        - .cmake_package_artifacts
        - .windows_builder_tags
        - .run_automatically
    dependencies:
        - build:windows-vs2019-mpi
    needs:
        - build:windows-vs2019-mpi

upload:windows-vs2019-mpi:
    extends:
        - .rsync_upload
        - .upload_only
    dependencies:
        - test:windows-vs2019-mpi
    needs:
        - test:windows-vs2019-mpi
    variables:
        RSYNC_DESTINATION: paraview_nightly_bin

## non-MPI build

build:windows-vs2019-nompi:
    extends:
        - .windows_vs2019_nompi
        - .cmake_build_windows
        - .cmake_build_artifacts
        - .windows_builder_tags
        - .run_manually
    timeout: 2 hours

test:windows-vs2019-nompi:
    extends:
        - .windows_vs2019_nompi
        - .cmake_test_windows
        - .cmake_package_artifacts
        - .windows_builder_tags
        - .run_automatically
    dependencies:
        - build:windows-vs2019-nompi
    needs:
        - build:windows-vs2019-nompi

upload:windows-vs2019-nompi:
    extends:
        - .rsync_upload
        - .upload_only
    dependencies:
        - test:windows-vs2019-nompi
    needs:
        - test:windows-vs2019-nompi
    variables:
        RSYNC_DESTINATION: paraview_nightly_bin
