include:
    # Metadata shared my many jobs
    - local: .gitlab/rules.yml
    - local: .gitlab/artifacts.yml

    # OS builds.
    - local: .gitlab/os-linux.yml
    - local: .gitlab/os-macos.yml
    - local: .gitlab/os-windows.yml

    # Post-build steps
    - local: .gitlab/upload.yml

stages:
    - build
    - test
    - upload

################################################################################
# Testing binary settings.
#
# Binaries may be created by creating an MR and using the following variables
# to select a ParaView to build or may be set when creating a pipeline manually
# at https://gitlab.kitware.com/paraview/paraview-superbuild/-/pipelines/new.
#
# variables:
#     PARAVIEW_URL: "https://gitlab.kitware.com/your-fork/paraview.git"
#     PARAVIEW_BRANCH: "name-of-branch"
################################################################################

################################################################################
# Job declarations
#
# Each job must pull in each of the following keys:
#
#   - a "base image"
#   - a build script
#   - tags for the jobs
#     - already provided for upload and CI update jobs
#   - rules for when to run the job
#
# Additionally, jobs may also contain:
#
#   - artifacts
#   - needs jobs for required jobs
################################################################################

# Linux

## Shared build

linux-shared:build:
    extends:
        - .centos7_shared
        - .cmake_build_linux
        - .cmake_build_artifacts
        - .linux_builder_tags
        - .run_manually
    timeout: 3 hours

linux-shared:test:
    extends:
        - .fedora38_shared
        - .cmake_test_linux
        - .cmake_package_artifacts
        - .linux_test_tags
        - .run_automatically
    needs:
        - linux-shared:build

linux-shared:upload:
    extends:
        - .rsync_upload
        - .upload_only
    needs:
        - linux-shared:test
    variables:
        RSYNC_DESTINATION: paraview_nightly_bin

## Static build

linux-static:build:
    extends:
        - .centos7_static
        - .cmake_build_linux
        - .cmake_build_artifacts
        - .linux_builder_tags
        - .run_manually
    timeout: 3 hours

linux-static:test:
    extends:
        - .fedora38_static
        - .cmake_test_linux
        - .linux_test_tags
        - .run_automatically
    needs:
        - linux-static:build

# macOS

## Normal build

macos-arm64:build:
    extends:
        - .macos_arm64
        - .cmake_build_macos
        - .cmake_build_artifacts
        - .macos_arm64_builder_tags
        - .run_manually

macos-arm64:test:
    extends:
        - .macos_arm64
        - .cmake_test_macos
        - .cmake_package_artifacts
        - .macos_arm64_builder_tags_test
        - .run_automatically
    needs:
        - macos-arm64:build

macos-arm64:upload:
    extends:
        - .rsync_upload
        - .upload_only
    needs:
        - macos-arm64:test
    variables:
        RSYNC_DESTINATION: paraview_nightly_bin

macos-x86_64:build:
    extends:
        - .macos_x86_64
        - .cmake_build_macos
        - .cmake_build_artifacts
        - .macos_builder_tags
        - .run_manually
    timeout: 3 hours

macos-x86_64:test:
    extends:
        - .macos_x86_64
        - .cmake_test_macos
        - .cmake_package_artifacts
        - .macos_builder_tags_test
        - .run_automatically
    needs:
        - macos-x86_64:build

macos-x86_64:upload:
    extends:
        - .rsync_upload
        - .upload_only
    needs:
        - macos-x86_64:test
    variables:
        RSYNC_DESTINATION: paraview_nightly_bin

# Windows

## MPI build

windows-vs2019-mpi:build:
    extends:
        - .windows_vs2019_mpi
        - .cmake_build_windows
        - .cmake_build_artifacts
        - .windows_builder_tags
        - .run_manually
    timeout: 150 minutes

windows-vs2019-mpi:test:
    extends:
        - .windows_vs2019_mpi
        - .cmake_test_windows
        - .cmake_package_artifacts
        - .windows_test_tags
        - .run_automatically
    needs:
        - windows-vs2019-mpi:build

windows-vs2019-mpi:upload:
    extends:
        - .rsync_upload
        - .upload_only
    needs:
        - windows-vs2019-mpi:test
    variables:
        RSYNC_DESTINATION: paraview_nightly_bin

## non-MPI build

windows-vs2019-nompi:build:
    extends:
        - .windows_vs2019_nompi
        - .cmake_build_windows
        - .cmake_build_artifacts
        - .windows_builder_tags
        - .run_manually
    timeout: 150 minutes

windows-vs2019-nompi:test:
    extends:
        - .windows_vs2019_nompi
        - .cmake_test_windows
        - .cmake_package_artifacts
        - .windows_test_tags
        - .run_automatically
    needs:
        - windows-vs2019-nompi:build

windows-vs2019-nompi:upload:
    extends:
        - .rsync_upload
        - .upload_only
    needs:
        - windows-vs2019-nompi:test
    variables:
        RSYNC_DESTINATION: paraview_nightly_bin
